:root {
    --clr-primary: rgb(54, 112, 199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  }
  
  .title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: -0.3em 0 0.5em;
  }
  
  .all-tasks {
    grid-area: lists;
  }
  
  .task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
  }
  
  .list-name {
    cursor: pointer;
  }
  
  .list-name:hover {
    opacity: 0.7;
  }
  
  form {
    display: flex;
  }
  
  .btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
  }
  
  .btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
  }
  
  .btn.create:hover {
    opacity: 0.7;
  }
  
  .btn.delete {
    opacity: 0.7;
    font-size: 1rem;
    transition: color 200ms;
    transition-delay: 3s;
  }
  
  .btn.delete:hover {
    color: var(--clr-warning);
    animation-duration: 3s;
    transition-delay: 3s;

  }
  
  .new {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    transition: border-bottom 150ms ease-in;
    order: 2;
  }
  
  .new::-webkit-input-placeholder {
    opacity: 0.4;
  }
  
  .new:-ms-input-placeholder {
    opacity: 0.4;
  }
  
  .new::-ms-input-placeholder {
    opacity: 0.4;
  }
  
  .new::placeholder {
    opacity: 0.4;
  }
  
  .new:focus {
    border-bottom-width: 3px;
  }
  
  .new:focus::-webkit-input-placeholder {
    opacity: 0.15;
  }
  
  .new:focus:-ms-input-placeholder {
    opacity: 0.15;
  }
  
  .new:focus::-ms-input-placeholder {
    opacity: 0.15;
  }
  
  .new:focus::placeholder {
    opacity: 0.15;
  }
  
  .new.list {
    font-size: 1.1rem;
  }
  
  .new.task {
    margin-bottom: 0;
  }
  
  .active-list {
    font-weight: 700;
  }
  
  .todo-list {
    --spacer: 2rem;
    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);
    border-radius: 15px;

  }
  
  .todo-header {
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;

  }
  
  .list-title {
    margin: 0 1em 0 0;
  }
  
  .task-count {
    margin: 0;
    font-size: 1rem;
  }
  
  .todo-body {
    padding: var(--spacer);
    position: relative;
  }
  
  .new-task-creator .create {
    color: var(--clr-primary);
  }
  
  [type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  .task label {
    display: flex-inline;
    align-items: center;
    position: relative;
  }
  
  .task {
    position: relative;
    margin-bottom: 1.25em;
  }
  
  .task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
  }
  
  .custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  
  .task:hover .custom-checkbox,
  [type="checkbox"]:focus + label .custom-checkbox {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: var(--clr-primary);
  }
  
  [type="checkbox"]:checked + label .custom-checkbox {
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 2px white;
  }
  
  [type="checkbox"]:checked + label {
    opacity: 0.5;
  }
  
  .task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: 50%;
    height: 3px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  [type="checkbox"]:checked + label::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  
  .delete-stuff {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: var(--clr-light);
  }
  


/* body{
                margin: 0;
                }

                #content{
                background-color: darkcyan;
                border: none;
                height: 100dvh;
                width: 100dvw;
                color: white;
                margin: 0;
                display: flex;
                }

                #projectContainer{
                background-color: rgb(187, 137, 50);
                border: none;
                height: 100dvh;
                width: 25dvw;
                color: white;
                margin: 0;
                display: flex;
                }

                #taskContainer{
                background-color: rgb(180, 27, 119);
                border: none;
                height: 100dvh;
                width: 75dvw;
                color: white;
                margin: 0;
                display: flex;
                }

                #taskbox{
                background-color: rgb(27, 180, 180);
                border: none;
                height: 20dvh;
                width: 20dvw;
                color: white;
                margin: 0;
                display: flex;
                } */


/* 
body {
    background-color: #082f49;
    height: 100dvh;
    justify-content: center;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    display: flex;
    align-content: space-between;
}

.note-content,
.side-content {
    margin: 20px 10px 20px 10px;
    padding: 25px;
    background-color: #0c4a6e;
    border-radius: 15px;
    width: 20vw;
    min-width: 150px;
    min-height: 95vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.taskArea {
    display: flex;
    flex-wrap: wrap;
}

.page-content {
    margin: 20px 10px 20px 10px;
    padding: 25px;
    border: none;
    background-color: #0c4a6e;
    border-radius: 15px;
    width: 70vw;
    min-width: 200px;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.newTaskForm {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 75dvw;
    min-width: 25dvw;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #0369a1;
    padding: 15px;
    border-left: 25px solid rgba(128, 128, 128, 0.2);
    transition: transform 0.1s ease, opacity 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.newTaskForm.completed {
    background-color: rgb(128, 128, 128) !important;
    color: white !important;
    text-decoration: line-through;
    opacity: 0.5;
}

#completeBtn:hover {
    background-color: grey !important;
    opacity: 0.5;
}

.newNoteForm {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #0369a1;
    padding: 15px;
    transition: transform 0.1s ease, opacity 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.newProjForm {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #0369a1;
    padding: 15px;
    transition: transform 0.1s ease, opacity 0.2s ease;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.newProjForm.dragging,
.newNoteForm.dragging,
.newTaskForm.dragging {
    opacity: 0.5;
    transform: scale(1.02);
}

.taskArea .placeholder {
    height: 80px;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
    margin-bottom: 10px;
}

#description {
    width: 250px;
}

::placeholder,
select,
input,
button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 0px solid;
    background-color: #696969;
    color: white;
}

#newProjBtn,
#newNoteBtn,
#completeBtn,
#removeBtn,
#removeProjBtn,
#removeNoteBtn {
    margin-right: 10px;
    filter: invert(100%);
}

#newTaskBtn {
    margin-right: 10px;
    margin-top: 10px;
    filter: invert(100%);
}

#newTaskBtn:hover {
    margin-right: 10px;
    margin-top: 10px;
    filter: invert(75%);
    transition-duration: 0.2s;
}

#removeProjBtn,
#removeNoteBtn {
    margin-top: 10px;
}

#newProjBtn:hover,
#newNoteBtn:hover,
#completeBtn:hover,
#removeBtn:hover,
#removeNoteBtn:hover,
#removeProjBtn:hover {
    margin-right: 10px;
    filter: invert(75%);
    transition-duration: 0.2s;
}

#sidebar {
    width: 100px;
    background-color: aqua;
}

#complete:hover {
    background-color: grey !important;
    opacity: 0.5;
}

textarea {
    border-radius: 15px;
    padding: 10px;
} */
